.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-group {
  overflow-y: auto;
  height: calc(100vh - 200px);
}
/* 增加整個 list-item 作用範圍 */
.list-group-item {
  cursor: pointer; /* 顯示手形游標 */
  transition: background-color 0.3s ease;
  height: 80px;
  width: 100%;
}

.list-group-item:hover {
  background-color: #f1f1f1; /* 鼠標懸停時變色，增加互動感 */
}

/* 增加勾選框和文本之間的間距 */
.todo-checkbox + span {
  font-size: 2rem; /* 增加文字大小 */
}

